  <!-- Footer -->
  <footer class="site-footer site-footer-1 bg-cloud-brust pt--100">
    <div class="footer-shape ">
      <div class="shape shape-top d-none d-lg-block" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
        <img src="{{image_path.png}}footer-shape-top.png" alt="">
      </div>
      <div class="shape shape-bottom d-none d-md-block" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-once="true">
        <img src="{{image_path.png}}footer-shape-bottom.png" alt="">
      </div>
    </div>
    <div class="container">
      <div class="row mb--80">
        <div class="col-lg-4 mb--30">
          <div class="single-footer">
            <div class="footer-title">
              <img src="{{image_path.png}}logo-white.png" alt="">
            </div>
            <div class="footer-text">
              <p class="p3 text-color-bali font-weight-300">Your ulitmate email solution to grow<br class="d-none d-lg-block">  business and engaging with future <br class="d-none d-lg-block"> to grow customers and clients. </p>
                <div class="footer-btn">
                  <a href="" class="btn-p3 btn--primary-3 btn-height--xsm btn-width--125 h9">Ask Question</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 offset-lg-1">
          <div class="single-footer-wrapper row mb-d--30">
            <div class="col-md-3 col-sm-6">
              <div class="single-footer mb--30">
                <div class="footer-title p2">
                  <h5 class="h7 text-color-bali">Community</h5>
                </div>
                <ul class="footer-list text-lily-white">
                  <li><a href="">For Talents</a></li>
                  <li><a href="">For Companies</a></li>
                  <li><a href="">Facebook Group</a></li>
                  <li><a href="">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="single-footer mb--30">
                <div class="footer-title p2">
                  <h5 class="h7 text-color-bali">About us</h5>
                </div>
                <ul class="footer-list text-lily-white">
                  <li><a href="">Meet the Team</a></li>
                  <li><a href="">Our Story</a></li>
                  <li><a href="">Career</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-footer mb--30">
                <div class="footer-title p2">
                  <h5 class="h7 text-color-bali">Contact Us</h5>
                </div>
                <p class="text-lily-white footer-text">Feel free to get in touch with us via <br class="d-none d-sm-block"> phone or send us a message.</p>
                  <p class="address text-golden-tanio mb-0 text-golden-tanio footer-text">
                    +1-301-340-3946 <br/>
                    info@finity.com
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-bar">
        <span class="copyright">© Finity 2020, All Rights Reserved</span>
        <div class="social-links">
          <a href=""><i class="icon icon-logo-fb-simple"></i></a>
          <a href=""><i class="icon icon-logo-twitter"></i></a>
          <a href=""><i class="icon icon-google"></i></a>
        </div>
      </div>
    </div>
  </footer>