<footer class="site-footer bg--light">
        <div class="container">
          <div class="footer-top footer-border">
            <div class="row mb-d--30">
              <div class="col-lg-4 mb--30">
                <div class="single-footer">
                  <div class="footer-brand">
                    <img src="{{image_path.png}}footer-logo.png" alt="">
                  </div>
                  <div class="footer-text">
                    <p class="p3">Finity has a collection of latest 2,500<br class="d-none d-lg-block"> jobs to join next companies. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 offset-lg-1">
                <div class="single-footer-wrapper mb-d--30">
                  <div class="single-footer mb--30">
                    <div class="footer-title">
                      <h5 class="h7">Community</h5>
                    </div>
                    <ul class="footer-list">
                      <li><a href="">For Talents</a></li>
                      <li><a href="">For Companies</a></li>
                      <li><a href="">Facebook Group</a></li>
                      <li><a href="">FAQ</a></li>
                    </ul>
                  </div>
                  <div class="single-footer mb--30">
                    <div class="footer-title">
                      <h5 class="h7">About us</h5>
                    </div>
                    <ul class="footer-list">
                      <li><a href="">Meet the Team</a></li>
                      <li><a href="">Our Story</a></li>
                      <li><a href="">Career</a></li>
                    </ul>
                  </div>
                  <div class="single-footer mb--30">
                    <div class="footer-title">
                      <h5 class="h7">Useful</h5>
                    </div>
                    <ul class="footer-list">
                      <li><a href="">Free Resume Builder</a></li>
                      <li><a href="">Free Graphics</a></li>
                      <li><a href="">Career Blog</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="copyright-bar">
            <span class="copyright">© Finity 2020, All Rights Reserved</span>
            <p class="">Built with love by <span class="color-skyblue ">Grayic</span></p>
          </div>
        </div>
      </footer>