 <!-- Footer Section-->
    <footer class="site-footer-p4 position-relative"><a class="back-to-top" href="#top"><i class="icon icon-minimal-up"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="single-footer mb-lg--0 mb--30 h-100 d-flex flex-column justify-content-between">
              <div class="top-part"><a class="site-brand brand-footer mb--40" href="#"><img src="{{image_path.png}}logo.png" alt="footer logo"></a>
                <p class="address-block">hello@xyz.co<br/>+088-0100-0000</p>
              </div>
              <div class="bottom-part mb--25">
                <ul class="social-list-p4">
                  <li><a href="#"><i class="icon icon-logo-fb-simple"></i></a></li>
                  <li><a href="#"><i class="icon icon-logo-twitter"></i></a></li>
                  <li><a href="#"><i class="icon icon-google"></i></a></li>
                  <li><a href="#"><i class="icon icon-logo-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="d-flex flex-wrap">
              <div class="footer-list-block">
                <h3 class="footer-title">Company</h3>
                <ul class="footer-list">
                  <li><a href="#">What we do</a></li>
                  <li><a href="#">Plan of Your service</a></li>
                  <li><a href="#">Health</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Site Maps</a></li>
                </ul>
              </div>
              <div class="footer-list-block">
                <h3 class="footer-title">Services</h3>
                <ul class="footer-list">
                  <li><a href="#">Return Policy</a></li>
                  <li><a href="#">Privacy Privacy</a></li>
                  <li><a href="#">Return Policy</a></li>
                  <li><a href="#">Shipping Info</a></li>
                  <li><a href="#">Store Hours</a></li>
                </ul>
              </div>
              <div class="footer-list-block">
                <h3 class="footer-title">Information</h3>
                <ul class="footer-list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Block Chain</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms &amp; Condition</a></li>
                </ul>
              </div>
              <div class="footer-list-block">
                <h3 class="footer-title">Profile</h3>
                <ul class="footer-list">
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Wishlist</a></li>
                  <li><a href="#">Appointment</a></li>
                  <li><a href="#">Checkout</a></li>
                  <li><a href="#">Responsible supply</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>