<!-- Footer Section-->
    <footer class="site-footer-p5 position-relative"><a class="back-to-top" href="#top"><i class="icon icon-minimal-up"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="single-footer mb-lg--0 mb--30 h-100 d-flex flex-column justify-content-between">
              <div class="top-part"><a class="site-brand brand-footer mb--40" href="#"><img src="./image/png/logo.png" alt="footer logo"></a></div>
            </div>
          </div>
          <div class="col-lg-7 ml-auto">
            <div class="d-flex flex-wrap">
              <div class="footer-list-block">
                <h3 class="footer-title">Services</h3>
                <ul class="footer-list">
                  <li><a href="#">App Development</a></li>
                  <li><a href="#">Web Development</a></li>
                  <li><a href="#">UI/UX Design</a></li>
                  <li><a href="#">Emerging Technology</a></li>
                  <li><a href="#">Marketing &amp; Maintenance</a></li>
                </ul>
              </div>
              <div class="footer-list-block">
                <h3 class="footer-title">Information</h3>
                <ul class="footer-list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Block Chain</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms &amp; Condition</a></li>
                </ul>
              </div>
              <div class="footer-list-block">
                <h3 class="footer-title">Profile</h3>
                <ul class="footer-list-contact">
                  <li><i class="icon icon-phone-2"></i><span class="text">0014 069 155 11</span></li>
                  <li><i class="icon icon-email-84"></i><span class="text">hello@yourmail.com</span></li>
                  <li class="address"><i class="icon icon-pin-3"></i><span class="text">947 Island of harver apt.154 <br/> Rover Island 1597</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom mt-md--40">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <p class="copy-text"> <img class="mr--10" src="./image/png/copyright.png" alt=""><a href="index-5.html">Finity. </a> All right reserved.</p>
            </div>
            <div class="col-lg-6">
              <ul class="social-links-wrapper">
                <li><a class="single-social" href="#"><i class="icon icon-logo-fb-simple"></i></a></li>
                <li><a class="single-social" href="#"><i class="icon icon-logo-dribbble"></i></a></li>
                <li><a class="single-social" href="#"><i class="icon icon-logo-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>