
// Primary-colors
$primary-color:  #495fef;  //color for: Secondary Color

// Secondary-colors
$secondary-color: #56b381;  //color for: Secondary Color


$blue: #258aff;
$sky-blue: #22b0fc;

// $text-color: #323232;
$white: #fff;
$black: #000;


$background-light: #e9f7fe;



// Border radius
$border-radius: 5px;
$border-radius: 30px;

// Fonts
$primary-font: 'Inter', sans-serif;


// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;