{% extends "template.njk" %}
{% block main %}
<div class="landing-1">
    {% include "_header-1.njk" %}

    <!-- Finity Home page contents -->
    <div class="hero-section">
        <div class="pl-lg--45 pr-lg--45 pr-xl--70 pl-xl--70 pb--100">
            <div class="bg-image" style="">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7">
                            <div class="hero-content">
                                <h5 class="hero-title-small" data-aos="fade-in" data-aos-duration="500" data-aos-once="true">Build your app landing page fast</h5>
                                <h1 class="h1 title" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">Build your app landing page fast.</h1>
                                <p class="p1 mb--30" data-aos="fade-in" data-aos-duration="1500" data-aos-once="true">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non accumsan in tempor.<br class="d-none d-lg-block">the most popular tech teams.</p>
                                <a href="#" class="btn btn--primary-4">Explore More</a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="hero_img section_img">
                                <div class="img_green" data-aos="fade-out" data-aos-duration="2000" data-aos-once="true">
                                    <img src="{{image_path.png}}oval.png" alt="">
                                    <div class="green_img_pattern">
                                        <img src="{{image_path.png}}line_shape.png" alt="">
                                    </div>
                                </div>
                                <div class="img_mobile" data-aos="fade-in" data-aos-duration="3000" data-aos-once="true">
                                    <img src="{{image_path.png}}mobile.png" alt="">
                                </div>
                                <div class="img_pattern" data-aos="fade-out" data-aos-duration="4000" data-aos-once="true">
                                    <img src="{{image_path.png}}Fill_1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Section -->
    <!-- features_area Start -->
    <secttion class="features_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title">
                        <h5 class="section_title_tagline">Full App Features</h5>
                        <h2 class="mt-4 mb-4">Share some exciting features of app.</h2>
                        <p class="mb--9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non accumsan in tempor.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="single_feature">
                        <div class="feature_icon bg-red mb-5" data-aos="fade-out" data-aos-duration="500" data-aos-once="true">
                            <img src="{{image_path.svg}}feature.svg" alt="">
                        </div>
                        <h5 class="mb-3">User Friendly</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_feature">
                        <div class="feature_icon bg-blue mb-5" data-aos="fade-out" data-aos-duration="1000" data-aos-once="true">
                            <img src="{{image_path.svg}}feature1.svg" alt="">
                        </div>
                        <h5 class="mb-3">Easy to Customize</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_feature">
                        <div class="feature_icon bg-green mb-5" data-aos="fade-out" data-aos-duration="1500" data-aos-once="true">
                            <img src="{{image_path.svg}}feature2.svg" alt="">
                        </div>
                        <h5 class="mb-3">Hand Coded</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_feature">
                        <div class="feature_icon bg-red-low mb-5" data-aos="fade-out" data-aos-duration="2000" data-aos-once="true">
                            <img src="{{image_path.svg}}feature3.svg" alt="">
                        </div>
                        <h5 class="mb-3">Fully Responsive</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non.</p>
                    </div>
                </div>
            </div>
        </div>
    </secttion>
    <!-- features_area End -->
    <!-- app Section Start -->
    <div class="app_section section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section_img">
                        <div class="img_green img_yellow" data-aos="fade-out" data-aos-duration="2000" data-aos-once="true">
                            <img src="{{image_path.png}}oval_yellow.png" alt="">
                        </div>
                        <div class="img_mobile img_mobile_left" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">
                            <img src="{{image_path.png}}mobile2.png" alt="">
                        </div>
                        <div class="img_pattern pattern_right_side" data-aos="fade-out" data-aos-duration="1500" data-aos-once="true">
                            <img src="{{image_path.png}}red_pattern.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="section_title">
                        <h5 class="section_title_tagline blue_tagline">The easiest way to create</h5>
                        <h2 class="mt-4 mb-4">Building app landing page is now easy.</h2>
                        <p class="mb--5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non accumsan in tempor.</p>
                    </div>
                    <div class="app_section_content">
                        <div class="app_section_single_content">
                            <h4>Reusable UI Blocks</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. In urna lectus, mattis non accumsan in tempor.</p>
                        </div>
                        <div class="app_section_single_content">
                            <h4>Clean UI Designs</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. In urna lectus, mattis non accumsan in tempor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- app Section End -->
    <!-- publish_app_section Start -->
    <div class="app_section publish_app_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-1">
                    <div class="section_title pt--100">
                        <h5 class="section_title_tagline blue_tagline grren_tagline">Why it’s powerful</h5>
                        <h2 class="mt-4 mb-4">Publish your app page without coding.</h2>
                        <p class="mb--6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna lectus, mattis non accumsan in tempor.</p>
                    </div>
                    <div class="app_section_content">
                        <div class="app_section_single_content">
                            <ul class="app_facilities">
                                <li>Fully Responsive</li>
                                <li>Beautiful Cards</li>
                                <li>Bootstrap 4 Based</li>
                                <li>Images Included</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section_img">
                        <div class="img_green img_yellow" data-aos="fade-out" data-aos-duration="2000" data-aos-once="true">
                            <img src="{{image_path.png}}oval_blue.png" alt="">
                        </div>
                        <div class="img_mobile img_mobile_left img_mobile_right" data-aos="fade-in" data-aos-duration="1000" data-aos-once="true">
                            <img src="{{image_path.png}}publish-img-mobile.png" alt="">
                        </div>
                        <div class="img_pattern pattern_right_side" data-aos="fade-out" data-aos-duration="1500" data-aos-once="true">
                            <img src="{{image_path.png}}group_101.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- publish_app_section End -->

    <!-- user_area Section Start -->
    <section class="user_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="user_carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
                        <div class="single_user">
                            <div class="star_ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="user_message">
                                <p>“You made it so simple. My new site is so much faster and easier to work with than my old site.”</p>
                            </div>
                            <div class="user_details">
                                <div class="user_img">
                                    <img src="{{image_path.png}}user_img1.png" alt="">
                                </div>
                                <div class="user_name">
                                    <h4>Johnny Castro</h4>
                                </div>
                            </div>
                        </div>
                        <div class="single_user">
                            <div class="star_ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="user_message">
                                <p>“You made it so simple. My new site is so much faster and easier to work with than my old site.”</p>
                            </div>
                            <div class="user_details">
                                <div class="user_img">
                                    <img src="{{image_path.png}}user_img1.png" alt="">
                                </div>
                                <div class="user_name">
                                    <h4>Johnny Castro</h4>
                                </div>
                            </div>
                        </div>
                        <div class="single_user">
                            <div class="star_ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="user_message">
                                <p>“You made it so simple. My new site is so much faster and easier to work with than my old site.”</p>
                            </div>
                            <div class="user_details">
                                <div class="user_img">
                                    <img src="{{image_path.png}}user_img1.png" alt="">
                                </div>
                                <div class="user_name">
                                    <h4>Johnny Castro</h4>
                                </div>
                            </div>
                        </div>
                        <div class="single_user">
                            <div class="star_ratings">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="user_message">
                                <p>“You made it so simple. My new site is so much faster and easier to work with than my old site.”</p>
                            </div>
                            <div class="user_details">
                                <div class="user_img">
                                    <img src="{{image_path.png}}user_img1.png" alt="">
                                </div>
                                <div class="user_name">
                                    <h4>Johnny Castro</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- user_area Section End -->


    <!-- Listing Listing Section -->
    <div class="job-listing-section">
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-xl-6 col-lg-5 col-md-6 mb--30 mb-lg--0">
                    <div class="left-content-wrapper" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                        <div class="big-img" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true">
                            <img src="{{image_path.png}}job-listing.png" alt="">
                        </div>
                        <div class="small-img" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000" data-aos-once="true">
                            <img src="{{image_path.png}}dotted.png" alt="">
                        </div>
                        <div class="alert-img" data-aos="fade-in-left" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true">
                            <img src="{{image_path.png}}alert-img.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-8  mt-xl--50">
                    <div class="newsletter">
                        <span class="sub-title mb--25">Join over 15,000+ tech people</span>
                        <h2 class="h2 title color-dark">Get instant alert on your inbox</h2>
                        <p class="p2">We receive over 50 new job submission at our website. Subscribe to our newsletter and get instant job alert on your inbox to apply. </p>
                        <form action="/" class="newsletter-form">
                            <div class="input-group mb-3">
                                <div class="input-with-icon icon-left">
                                    <input type="email" class="form-control" placeholder="Enter your email" aria-label="Recipient's username">
                                    <span class="input-icon"><i class="icon icon-email-84"></i></span>
                                </div>
                                <button type="submit" class="btn btn--skyblue btn-width--md btn-height--xl h8">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest News Blog Section -->
    <div class="blog-section bg--light" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="h2 title">Latest news <br class="d-none d-lg-block" />about job trends</h2>
                    <a href="#" class="blog-card mb--30">
                        <div class="card-img">
                            <img src="{{image_path.png}}blog1.png" alt="">
                        </div>
                        <div class="card-text">
                            <h5 class="h5">Why freelancers are more interested in Full-time jobs?</h5>
                            <div class="excerpt-details">
                                <span class="publish-time mr--40"><i class="icon icon-time-3"></i> 2 days ago</span>
                                <span class="require-time"><i class="icon icon-time-3"></i> 6 min read</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="blog-card mb--30">
                        <div class="card-img">
                            <img src="{{image_path.png}}blog2.png" alt="">
                        </div>
                        <div class="card-text">
                            <h5 class="h5">10 resume writing tips to land you next job.</h5>
                            <div class="excerpt-details">
                                <span class="publish-time mr--40"><i class="icon icon-time-3"></i> 2 days ago</span>
                                <span class="require-time"><i class="icon icon-time-3"></i> 6 min read</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="pt--90 d-none d-lg-block"></div>
                    <a href="#" class="blog-card mb--30">
                        <div class="card-img">
                            <img src="{{image_path.png}}blog3.png" alt="">
                        </div>
                        <div class="card-text">
                            <h5 class="h5">Engineering job is becoming more interesting.</h5>
                            <div class="excerpt-details">
                                <span class="publish-time mr--40"><i class="icon icon-time-3"></i> 2 days ago</span>
                                <span class="require-time"><i class="icon icon-time-3"></i> 6 min read</span>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="blog-card mb--30">
                        <div class="card-img">
                            <img src="{{image_path.png}}blog4.png" alt="">
                        </div>
                        <div class="card-text">
                            <h5 class="h5">How to manage your time efficiently to do more.</h5>
                            <div class="excerpt-details">
                                <span class="publish-time mr--40"><i class="icon icon-time-3"></i> 2 days ago</span>
                                <span class="require-time"><i class="icon icon-time-3"></i> 6 min read</span>
                            </div>
                        </div>
                    </a>
                    <div class="more-btn text-center">
                        <a href="#" class="h8 color-light">See all blog posts</a>
                    </div>
                </div>
                <hr class="mb-0" />
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "_footer-2.njk" %}
</div>
{% endblock %}