.error-page{
  
  
  .error-page-main{
    padding-top:160px;
    padding-bottom: 70px;
    @include tablet{
      padding-top: 150px;
      padding-bottom: 140px;
    }
    .contents{
      text-align: center;
      .content-image{
        margin-bottom: 50px;
        @include tablet{
          margin-bottom: 70px;
        }
      } 
      .content-text{
        .title{
          color: #19191b;
          font-weight: 700;
          letter-spacing: -2.5px;
          margin-bottom: 12px;
          font-size: 34px;
          line-height: 46px;
          @include tablet{
            font-size: 80px;
          line-height: 84px;
          }
        }
        p{
          color: #696871;
          font-size: 21px;
          font-weight: 300;
          letter-spacing: -0.66px;
          line-height: 39px;
        }
      }
      .content-btn{
        padding-top: 18px;
        .btn{
          min-width: 322px;
          min-height: 55px;
          border-radius: 5px;
          background-color: #8c97ac;
          border: 0;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.66px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding-left: 20px;
          padding-right: 20px;
          transition: .4s;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
 

}

