
.landing-1{
  .hero-section {
    &:before{
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      height: 27%;
      width: 100%;
      background: #e9f7fe;
    }
    .hero-bg-gradient {
      position: relative;
      z-index: 1;
      &:before{
        position: absolute;
        content: "";
        left: 0%;
        height: 100%;
        width: 100%;
        top: 0;
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(18, 27, 33, 0.76) 100%);
        z-index: -1;
      }
    }
    
    
    .hero-content {
      padding-bottom: 50px;
      padding-top: 70px;
      @include large-desktops{
        padding-bottom: 100px;
        padding-top: 280px;
      }
      .title, p {
        color: #fff;
      }
      .title {
        margin-bottom: 28px;
      }
      .indicator {
        @include desktops {
          padding-top: 12px;
        }
        i {
          font-size: 54px;
          color: #fff;
        }
      }
    }

  }
  .search-form{
    display: flex;
    align-items: center;
    box-shadow: 0 32px 84px rgba(0, 0, 0, 0.22);
    flex-wrap: wrap;
    @include desktops{
      background: #fff;
      flex-wrap: nowrap;
      height: 107px;
    }
    .search-box{
      display: flex;
      padding-left: 23px;
      background: #fff;
      align-items: center;
      width: 100%;
      height: 60px;
      @include mobile-lg{
        height: 80px;
      }
      @include tablet{
        width: 50%;
        height: 80px;
      }
      @include desktops{
        height: 44px;
        max-width: 510px;
        width: 100%;
      }
      .form-control{
        order: 2;
        border: 0;
      }
      button{
        order: 1;
        width: 50px;
        height: 50px;
        color: #8c97ac;
        font-size: 16px;
      }
    }
    .nice-select{
      border-radius: 0;
      border: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 30px;
      background: #fff;
      height: 60px;
      border-top: 3px dashed #e2e4e8;
      width: 100%;
      @include mobile-lg{
        height: 80px;
      }
      @include tablet{
        border-top: none;
        width: 50%;
        border-left: 3px dashed #e2e4e8;
      }
      @include desktops{
        width: 100%;
        max-width: 310px;
        height: 44px;
      }
      ul{
        width: 100%;
        margin-top: 0px;
      }
      .current{
        color: #1d293f;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        display: flex;
        align-items: center;
        &:before{
          content: "\ea35";
          font-family: 'ep';
          font-size: 18px;
          color: #8c97ac;
          margin-right: 20px;
        }
      }
      &::after {
        right: 40px;
        height: 11px;
        width: 11px;
        margin-top: -8px;
      }
    }
    .search-btn{
      background-color: #22b0fc;
      margin-left: auto;
      height: 60px;
      width: 100%;
      @include mobile-lg{
        height: 80px;
      }
      @include tablet{
        width: 100%;
        height: 80px;
      }
      @include desktops{
        width: 288px;
        height: 107px;
      }
    }
  }

  /*-----Brand Section -----*/ 
  
    
  /*-----Explore Section -----*/  
  
  /*----- Job Gallery Section -----*/ 
  

  /*----- Job Listing Section -----*/   
  
  
  /*----- News Blog Section -----*/   
  


  // Footer styling
  
  .footer-border {
    border-top: 1px solid #d2e4ed;
  }
  .footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
    @include tablet {
      padding-top: 120px;
      padding-bottom: 50px;
    }
    @include large-desktops {
      padding-top: 145px;
      padding-bottom: 50px;
    }
  }
  .single-footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .single-footer {
      margin-right: 70px;
      &:last-child {
        margin-right: 0;
      }
    }
    
  }
  .footer-title {
    margin-bottom: 28px;
    color: $black;
  }
  .footer-brand {
    margin-bottom: 32px;
  }
  .footer-text {
    color: #7c8087;
  }
  .footer-list {
    color: #7c8087;
    li {
      color: inherit;
      font-size: 16px;
      font-weight: 300;
      line-height: 40px;
      // margin-bottom: 17px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  
  .copyright-bar {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #7c8087;
    font-size: 13px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    @include desktops {
      display: flex;
      justify-content: space-between;
      padding-top: 85px;
      padding-bottom: 40px;
      text-align: left;
    }
    p{
      font-size: 13px;
      font-weight: 300;
      line-height: 28px;
    }
    .copyright {
      font-size: 13px;
      font-weight: 300;
      line-height: 28px;
    }
  }
}
    
  
  
  
  
  
  

  
