.landing-1 {
    .hero-section {
        .hero-content {
            padding-bottom: 50px;
            padding-top: 70px;

            @include large-desktops {
                padding-bottom: 100px;
                padding-top: 150px;
            }

            .title {
                @include desktops {
                    // Style for "Build your"
                    max-width: 497px;
                    color: #161c2d;
                    font-size: 60px;
                    font-weight: 700;
                    letter-spacing: -2px;
                    line-height: 72px;
                }
            }

            p {
                // Style for "Lorem ipsu"
                max-width: 497px;
                opacity: 0.7;
                color: #161c2d;
                font-family: Inter;
                font-size: 19px;
                font-weight: 400;
                letter-spacing: -0.2px;
                line-height: 32px;
            }

            h5.hero-title-small {
                max-width: 481px;
                color: #56b381;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1.63px;
                text-transform: uppercase;
            }

        }

        .hero_img {
            position: relative;
            padding-top: 150px;

            .img_green {
                position: relative;
                width: 555px;
                height: 405px;

                img {
                    max-width: 100%;
                    height: 100%;
                }

                .green_img_pattern {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 50%;
                    right: 0;
                    height: 100%;
                }
            }


        }



    }


    // Features area CSS Start
    .section_title {
        h5.section_title_tagline {
            // Style for "Full App F"
            width: 481px;
            color: #f64b4b;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 1.63px;
            text-transform: uppercase;
        }

        .blue_tagline {
            @extend .color-blue;
        }

        h2 {
            // Style for "Share some"
            max-width: 481px;
            color: #161c2d;
            font-family: Inter;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: -1.8px;
            line-height: 60px;
        }

        p {
            // Style for "Lorem ipsu"
            width: 443px;
            opacity: 0.7;
            color: #161c2d;
            font-family: Inter;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: -0.2px;
            line-height: 29px;
        }
    }

    // Features area CSS End

    // Features area CSS Start

    .features_area {
        position: relative;
        z-index: 1;
        display: block;
        min-height: 812px;

        @include mobile {
            height: auto;
        }

        @include desktops {
            height: 812px;
        }

        &:before {
            position: absolute;
            content: "";
            left: 10%;
            top: 0;
            width: 80%;
            height: 100%;
            // Style for "BG"
            //                width: 1327px;

            border-radius: 25px 25px 150px;
            background-color: #56b381;
            opacity: 0.07;
        }

        .feature_icon {
            // Style for "Rectangle"
            width: 71px;
            height: 71px;
            box-shadow: 0 22px 34px rgba(22, 28, 45, 0.15);
            border-radius: 15px;
            text-align: center;
            line-height: 71px;
        }

        h5 {
            // Style for "Hand Coded"
            color: #161c2d;
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.5px;
            line-height: 34px;
        }

    }

    // Features area CSS End
    // app Section CSS Start
    .app_section {
        min-height: 790px;

        .img_pattern.pattern_right_side {
            top: 275px;
            left: auto;
            right: 0;
            z-index: -1;
        }

        .app_section_single_content {
            h4 {
                // Style for "Reusable U"
                max-width: 200px;
                height: 32px;
                color: #161c2d;
                font-family: Inter;
                font-size: 21px;
                font-weight: 700;
                letter-spacing: -0.5px;
                line-height: 32px;
            }

            p {
                max-width: 400px;
                height: 48px;
                opacity: 0.7;
                color: #161c2d;
                font-family: Inter;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.1px;
                line-height: 26px;
            }
        }

        .section_img {
            min-height: 570px;
        }
    }

    // app Section CSS End
    // app Section CSS End

    .publish_app_section {
        .section_img {
            .img_mobile.img_mobile_left.img_mobile_right {
                left: auto;
                right: 30px;
            }
        }

        .img_pattern.pattern_right_side {
            right: auto;
            left: 0;
            top: 60px;
            width: 60px;
        }

        .section_title {
            h5.section_title_tagline.blue_tagline.grren_tagline {
                @extend .color-green;
            }
        }

        ul.app_facilities {
            max-width: 480px;
            display: flex;
            flex-wrap: inherit;
            flex-direction: column;
            justify-content: center;
            flex-flow: wrap;

            li {
                // Style for "Bootstrap"
                flex-basis: 50%;
                display: inline-block;
                color: #161c2d;
                font-size: 19px;
                font-weight: 700;
                letter-spacing: -0.2px;
                line-height: 32px;
                position: relative;
                padding-left: 32px;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    width: 27px;
                    height: 20px;
                    line-height: 30px;
                    margin-right: 20px;
                    background: url(image/svg/check.svg);
                    background-repeat: no-repeat;
                    background-size: auto;
                }
            }
        }


    }

    // app Section CSS End





































    // Footer styling

    .footer-border {
        border-top: 1px solid #d2e4ed;
    }

    .footer-top {
        padding-top: 50px;
        padding-bottom: 50px;

        @include tablet {
            padding-top: 120px;
            padding-bottom: 50px;
        }

        @include large-desktops {
            padding-top: 145px;
            padding-bottom: 50px;
        }
    }

    .single-footer-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .single-footer {
            margin-right: 70px;

            &:last-child {
                margin-right: 0;
            }
        }

    }

    .footer-title {
        margin-bottom: 28px;
        color: $black;
    }

    .footer-brand {
        margin-bottom: 32px;
    }

    .footer-text {
        color: #7c8087;
    }

    .footer-list {
        color: #7c8087;

        li {
            color: inherit;
            font-size: 16px;
            font-weight: 300;
            line-height: 40px;

            // margin-bottom: 17px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .copyright-bar {
        padding-top: 16px;
        padding-bottom: 16px;
        color: #7c8087;
        font-size: 13px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;

        @include desktops {
            display: flex;
            justify-content: space-between;
            padding-top: 85px;
            padding-bottom: 40px;
            text-align: left;
        }

        p {
            font-size: 13px;
            font-weight: 300;
            line-height: 28px;
        }

        .copyright {
            font-size: 13px;
            font-weight: 300;
            line-height: 28px;
        }
    }
}